.message-list {
    border: 1px black solid;
    height: 60vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-chat);
    padding: 20px;
}

.message-list::-webkit-scrollbar {
    background-color: var(--background-color-chat);
  }

.own-message-container {
    display: flex;
    flex-direction: column;
}

.own-message-container .own-message {
    align-self: flex-end;
}
