.user-page-button {
  background-color: var(--button-add-user-color);
  border-radius: 10px;
  font-size: larger;
  width: 15%;
  height: 40px;
  margin: 0px 7px;
  text-decoration: none;
  color: black;
	padding: 10px 20px;
}

.user-list {
  background-color: var(--background-color-chat);
  width: 50vw;
  margin: 20px auto;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 40px;
}

.user-page-button-container {
	margin-top: 60px;
	margin-bottom: 10px;
}
