.error-message {
	color: red;
}

.error-back-button {
	background-color: var(--button-color);
	border: 1px black solid;
  border-radius: 30px;
  font-size: larger;
	color: black;
	text-decoration: none;
	padding: 10px 20px;
}