.edit-user-window {
  display: flex;
  align-self: center;
}
.edit-user-form {
  display: flex;
  flex-direction: column;
  margin: 10vh auto 0;
  height: 40vh;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--background-login);
  border: var(--background-color-chat);
  border-radius: 20px;
}

.edit-input {
  height: 10%;
  background-color: var(--background-color-chat);
  font-size: larger;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
	margin-bottom: 10px;
}

.edit-user-header {
	color: white;
}

.edit-input::placeholder {
  color: rgba(255, 255, 255, 0.63);
}

.edit-input-button {
  background-color: var(--button-color);
  border-radius: 30px;
  font-size: larger;
  height: 15%;
}
