.page-not-found {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 7vh;
}

.page-not-found-image {
	width: 40vw;
	height: 50vh;
}

.page-not-found-header {
	color: #fa7f52;
}

.page-not-found-button {
  background-color: var(--button-color);
	border: 1px black solid;
  border-radius: 30px;
  font-size: larger;
	color: black;
	text-decoration: none;
	padding: 10px 20px;
}