.messages-divider {
    margin-top: 10px;
}

.messages-divider hr{
    border-top: 1px var(--button-color) solid;
}

.divider-text {
    background-color: var(--button-color);
    width: 100px;
    margin: auto;
    border-radius: 20px;
    padding: 3px;
}