.login-window {
  display: flex;
  align-self: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin: 10vh auto 0;
  height: 40vh;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--background-login);
  border: var(--background-color-chat);
  border-radius: 20px;
}

.message-input-login,
.message-input-password {
  height: 10%;
  background-color: var(--background-color-chat);
  font-size: larger;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.message-input-text::placeholder {
  color: rgba(255, 255, 255, 0.63);
}

.login-input-button {
  background-color: var(--button-color);
  border-radius: 30px;
  font-size: larger;
  height: 15%;
}
