.user-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

.user-content {
	display: flex;
	width: 80%;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
}

.user-info {
	display: flex;
	width: 60%;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--background-message-color);
	border-radius: 10px;
	padding: 0px 20px;
	font-size: 18px;
}

.user-action-button {
	background-color: var(--button-color);
  border-radius: 10px;
  font-size: larger;
	display: flex;
	width: 15%;
	text-decoration: none;
  color: black;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
}