body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background-color: #3B3840;
  --background-color-chat: #4A4650;
  --button-color: #FFD700;
	--button-add-user-color: #e9e3eb;
  --background-message-color: #AFADDD;
  --background-own-message-color: #EDDDAB;
  --background-login: #66606e;
}


