.edit-message-modal {
  position: fixed;
  display: flex;
  justify-content: center;
	align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 32, 41, 0.75);
}

.modal-shown {
	display: flex;
	flex-direction: column;
	background-color: var(--background-login);
	width: 50%;
	height: 50%;
	border-radius: 20px;
}

.modal-header {
	color: white;
}

.modal-content {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-message-input {
	width: 80%;
	height: 80%;
	background-color: var(--background-color-chat);
  font-size: larger;
  color: white;
}

.modal-button-container {
	display: flex;
	justify-content: right;
	padding: 10px;
}

.edit-message-button, .edit-message-close {
  width: 15%;
  background-color: var(--background-message-color);
  border-radius: 30px;
  font-size: larger;
	margin-left: 5px;
	padding: 10px 20px;
}